@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --branding: #eab308;
  --branding-dark: #e89900;
  --branding-light: #ebc914;
  --accent: #979797;
  --light-accent: #818181;
  --dark-accent: #3c3c3c;
  --primary: #0841ea;
  --footer-height: 404px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}

.branding-gradient {
  @apply bg-gradient-to-r from-brandingDark to-brandingLight bg-clip-text text-transparent;
}
